<% layout('layouts/boilerplate') %>

<h1>All the campgrounds</h1>

<% campgrounds.forEach(camp => { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img src="<%= camp.image %>" alt="" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
                <p class="card-text">
                    <small class="text-muted"> <%= camp.location %></small>
                </p>
                <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary ">View details</a>
            </div>
        </div>
    </div>
</div>
<% }) %>

<br />
