<% layout('layouts/boilerplate') %>

<div id="map" style="width: 100%; height: 500px"></div>

<h1>- C a m p g r o u n d s -</h1>
<% campgrounds.forEach(camp => { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if (camp.images.length) { %>
            <img src="<%= camp.images[0].url %>" alt="" class="img-fluid" />
            <% } else { %>
            <img
                src="https://res.cloudinary.com/dd4zt9qj1/image/upload/v1695476648/samples/landscapes/nature-mountains.jpg"
                alt=""
                class="img-fluid"
            />
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
                <p class="card-text">
                    <small class="text-muted"> <%= camp.location %></small>
                </p>
                <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary"
                    >View details</a
                >
            </div>
        </div>
    </div>
</div>
<% }) %>
<br />

<script>
    const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>} ;
</script>
</script>
<script src="/javascripts/clusterMap.js"></script>
